html {
  box-sizing: content-box;
}
body {
    font-family: Arial, sans-serif;
    cursor: default;
}

input[type="range"][orient=vertical] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    }
    

/* song chaser blocks */
.square {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80px;
  height: 80px;
  background-color: #eee;
  border: 1px solid #fdfdfd;
  cursor: pointer;
  padding: 1px;
  margin: 1px;
}