html {
  box-sizing: content-box;
}
body {
    font-family: Arial, sans-serif;
    cursor: default;
}

input[type="range"][orient=vertical] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    }
    

/* slider style */
/*********** Baseline, reset styles ***********/
input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #add8e6;
    border-radius: 0.5rem;
    height: 1px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -7.5px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 0rem;
    height: 1rem;
    width: 4px;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }
  

/* slider style */

#console{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* height: 100vh; */    
}

.fixture {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    justify-content: space-around;
    /* height: 100px; */
    padding: 5px;
}
.fixture-name {
    border-bottom: 1px solid #808080;
    margin-bottom: 5px;
    font-weight: bold;
}
.channels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}

.slider-label {
    width: 80px;
    padding: 0 5px;
    align-self: flex-end;
    text-align: end;
}
.slider {
    padding: 0 5px;
}

/* song chaser blocks */

#chaser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 50vh;
}

#chaser-controls{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: flex-end;
  justify-content: space-between;
}

#chaser-controls .square {
  margin: 1px;
  border: 0;
  padding: 5px;
  background-color: #b9b9b9;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chaser-controls button.square {
  width: 50px;
  height: 50px;
}
#chaser-controls .square:hover {
  font-weight: 600;
}

#chaser-plan {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1px;
  max-width: 25vw;
}

.beat {
  background-color: rgb(226, 226, 226);
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.beat.active {
  background-color: rgba(153, 0, 255, 0.226);
}