<!DOCTYPE html>
<html>
  <head>
    <title>Send ArtNet Values</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body>
    <div id="console">
      {% for fixture in fixtures %}
        {% include "fixture_basic.html" %}
      {% endfor %}
    </div>
    <div id="chaser">
      <div id="chaser-controls">
        <div class="square bpm">120</div>
        <button id="chaser-start" class="square">Start</button>
        <button id="chaser-stop" class="square">Stop</button>
        <button id="chaser-reset" class="square">Reset</button>
      </div>
      <div id="chaser-plan">
        {% for _ in range(64) %}
            <div class="beat"></div>
        {% endfor %}
      </div>
    </div>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
